<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18695512996-0usnn6e390mn9j0ug0hj8slesb7odica.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18695512996-0usnn6e390mn9j0ug0hj8slesb7odica</string>
	<key>API_KEY</key>
	<string>AIzaSyAVG6iNIqI2GPvI1PrsF1enDc8wPMcb-8A</string>
	<key>GCM_SENDER_ID</key>
	<string>18695512996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>debe.vadev.com</string>
	<key>PROJECT_ID</key>
	<string>locationfinder-287cc</string>
	<key>STORAGE_BUCKET</key>
	<string>locationfinder-287cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18695512996:ios:858bc16e5f2f60a33d5731</string>
	<key>DATABASE_URL</key>
	<string>https://locationfinder-287cc.firebaseio.com</string>
</dict>
</plist>